<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Shorten your long URLs quickly and easily with Linkee. Start using our free URL shortener today.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/css/app.css">
    <title>Linkee - Shorten URLs for Free</title>
</head>

<body>
    <section class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="block-content">
            <h1 class="display-5 text-center mb-4">Shorten a long link</h1>
            <div class="mb-3">
                <label for="long_url" class="form-label">Paste your long URL</label>
                <div class="input-group">
                    <input type="url" class="form-control input-box" id="long_url"
                        aria-describedby="basic-addon3 basic-addon4">
                </div>
            </div>
            <div id="short_url_result_block" class="mb-3">
                <label for="short_url" class="form-label">Result</label>
                <div class="input-group">
                    <input type="text" class="form-control input-box" id="short_url"
                        aria-describedby="basic-addon3 basic-addon4">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-md w-100" value="Shorten" id="shorten-btn">
                    <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </section>
</body>

</html>